<p id="notice"><%= notice %></p>

<h1>Listings</h1>
<div class = "row">
  <div class="pull-right range-query">
    <%= form_tag listings_path, method: :get do %>
      <%= text_field_tag 'search[location]', @search.location %>
      <%= submit_tag "Search by location", class: "btn search-button"  %>
    <% end %>
  </div>
</div>



<div class = "row">
  <div class="pull-right range-query">
    <%= form_tag listings_path, method: :get do %>
      <%=number_field_tag 'search[price_from]', @search.price_from  %>
      <%=number_field_tag 'search[price_to]', @search.price_to  %>
      <%= submit_tag "Search by price", class: "btn search-button" %>
    <%end %>
  </div>
</div>

<div class = "row">
  <div class="pull-right range-query">
    <%= form_tag listings_path, method: :get do %>
      <%=number_field_tag 'search[square_footage_from]', @search.square_footage_from  %>
      <%=number_field_tag 'search[square_footage_to]', @search.square_footage_to  %>
      <%= submit_tag "Search by Square Footage", class: "btn search-button" %>
    <%end %>
  </div>
</div>





<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Square footage</th>
      <th>Year built</th>
      <th>Style</th>
      <th>List price</th>
      <th>Floors</th>
      <th>Basement</th>
      <th>Current house owner</th>
      <th>Contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.location %></td>
        <td><%= listing.square_footage %></td>
        <td><%= listing.year_built %></td>
        <td><%= listing.style %></td>
        <td><%= listing.list_price %></td>
        <td><%= listing.floors %></td>
        <td><%= listing.basement %></td>
        <td><%= listing.current_house_owner %></td>
        <td><%= listing.contact %></td>
        <% if current_user.role == "admin" %>
          <td><%= link_to 'Show', listing %></td>
          <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
          <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%elsif current_user.role == "realtor" %>
          <td><%= link_to 'Show', listing %></td>
          <%if current_user.id == listing.user_id and current_user.company_id == listing.company_id %>
            <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
            <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <%elsif current_user.role == "house_hunter" %>
          <td><%= link_to 'Show', listing %></td>
        <%end %>



      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if  current_user.role == "realtor" or current_user.role == "admin"%>
  <%= link_to 'New Listing', new_listing_path %>
<% end %>
