<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Addres:</strong>
  <%= @company.addres %>
</p>

<p>
  <strong>Size:</strong>
  <%= @company.size %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @company.revenue %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @company.synopsis %>
</p>
<% if  current_user.role == "house_hunter" or current_user.role == "realtor" %>
  <%= link_to 'Back', companies_path %>
<%else %>
  <%= link_to 'Edit', edit_company_path(@company) %> |
  <%= link_to 'Back', companies_path %>
<%end %>


