<p id="notice"><%= notice %></p>

<h1>Enquiries</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Message content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enquiries.each do |enquiry| %>
      <tr>
        <% if current_user.role == "admin" %>
          <td><%= enquiry.subject %></td>
          <td><%= enquiry.message_content %></td>
          <td><%= link_to 'Show', enquiry %></td>
          <td><%= link_to 'Edit', edit_enquiry_path(enquiry) %></td>
          <td><%= link_to 'Destroy', enquiry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% elsif current_user.role == "house_hunter" %>
          <% if current_user.id == enquiry.user_id %>
            <td><%= enquiry.subject %></td>
            <td><%= enquiry.message_content %></td>
            <td><%= link_to 'Show', enquiry %></td>
            <td><%= link_to 'Edit', edit_enquiry_path(enquiry) %></td>
            <td><%= link_to 'Destroy', enquiry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%end %>
        <%else %>
          <td><%= enquiry.subject %></td>
          <td><%= enquiry.message_content %></td>
          <td><%= link_to 'Show', enquiry %></td>

        <%end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<% if current_user.role == "admin" or current_user.role == "house_hunter" %>
  <%= link_to 'New Enquiry', new_enquiry_path %>
<%end %>
