<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @enquiry.subject %>
</p>

<p>
  <strong>Message content:</strong>
  <%= @enquiry.message_content %>
</p>

<% if current_user.role == "admin" or current_user.role == "house_hunter" %>

  <%= link_to 'Edit', edit_enquiry_path(@enquiry) %> |
  <%= link_to 'Back', enquiries_path %>
<%else %>
  <%= link_to 'Back', enquiries_path %>

<%end %>>